.Header {
    background-color: #222222;
    .header-container {
        padding: 10px 60px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .brend {
            img {
                width: 50px;
                cursor: pointer;
                border-radius: 50%;
            }
        }
        .menu {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .menu-list {
                .list {
                    display: flex;
                    flex-flow: row nowrap;
                    list-style: none;
                    .list-item {
                        margin: 0px 15px;
                        a {
                            font-size: 13pt;
                            color: yellow;
                            text-decoration: none;
                        }
                        a:hover {
                            text-decoration: underline;
                            box-shadow: 0px 0px 15px 3px black,
                                inset 0px 0px 15px 10px black;
                        }
                    }
                }
            }
            .menu-search {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                .login-btns {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    margin: 0px 10px 0px 0px;
                    height: 100%;
                    .not-auth {
                        .sign-in,
                        .log-in {
                            color: #fff;
                            padding: 3.5px 7px;
                            height: inherit;
                            border-radius: 5px;
                            font-family: "Lato", sans-serif;
                            font-weight: 500;
                            background: transparent;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            position: relative;
                            display: inline-block;
                            box-shadow: inset 2px 2px 2px 0px
                                    rgba(255, 255, 255, 0.5),
                                7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                                4px 4px 5px 0px rgba(0, 0, 0, 0.1);
                            outline: none;
                            background: rgb(255, 151, 0);
                            border: none;
                            z-index: 1;
                        }
                        .sign-in:after,
                        .log-in:after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 0;
                            top: 0;
                            left: 0;
                            z-index: -1;
                            border-radius: 5px;
                            background-color: #eaf818;
                            background-image: linear-gradient(
                                315deg,
                                #eaf818 0%,
                                #f6fc9c 74%
                            );
                            box-shadow: inset 2px 2px 2px 0px
                                    rgba(255, 255, 255, 0.5),
                                7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                                4px 4px 5px 0px rgba(0, 0, 0, 0.1);
                            transition: all 0.3s ease;
                        }
                        .sign-in:hover,
                        .log-in:hover {
                            color: #000;
                        }
                        .sign-in:hover:after,
                        .log-in:hover:after {
                            top: auto;
                            bottom: 0;
                            height: 100%;
                        }
                        .OR {
                            color: white;
                            font-size: 16pt;
                            margin: 0px 5px;
                        }
                    }
                    .auth {
                        .welcome {
                            color: #8a8a8a;
                        }
                        .sign-out {
                            color: #fff;
                            padding: 3.5px 7px;
                            height: inherit;
                            border-radius: 5px;
                            font-family: "Lato", sans-serif;
                            font-weight: 500;
                            background: transparent;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            position: relative;
                            display: inline-block;
                            box-shadow: inset 2px 2px 2px 0px
                                    rgba(255, 255, 255, 0.5),
                                7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                                4px 4px 5px 0px rgba(0, 0, 0, 0.1);
                            outline: none;
                            background: rgb(255, 151, 0);
                            border: none;
                            z-index: 1;
                        }
                        .sign-out:after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 0;
                            top: 0;
                            left: 0;
                            z-index: -1;
                            border-radius: 5px;
                            background-color: #eaf818;
                            background-image: linear-gradient(
                                315deg,
                                #eaf818 0%,
                                #f6fc9c 74%
                            );
                            box-shadow: inset 2px 2px 2px 0px
                                    rgba(255, 255, 255, 0.5),
                                7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                                4px 4px 5px 0px rgba(0, 0, 0, 0.1);
                            transition: all 0.3s ease;
                        }
                        .sign-out:hover {
                            color: #000;
                        }
                        .sign-out:hover:after {
                            top: auto;
                            bottom: 0;
                            height: 100%;
                        }
                    }
                }
                .searcher {
                    display: flex;
                    align-items: center;
                    flex-flow: row nowrap;
                    position: relative;
                    width: 280px;
                    height: 30px;
                    .search-icon {
                        display: block;
                        position: absolute;
                        left: 0%;
                        font-size: 19pt;
                        width: calc(100% - 89.285%);
                        text-align: center;
                        height: inherit;
                        color: yellow;
                        border-radius: 10px 0px 0px 10px;
                        border-right: 1px solid #222222;
                        background-color: black;
                    }
                    .search {
                        width: 100%;
                        height: inherit;
                        padding: 0px calc(100% - 71.425% + 3%) 0px
                            calc(100% - 89.285% + 3%);
                        border: none;
                        background-color: black;
                        border-radius: 10px;
                        color: white;
                    }
                    .search:focus-visible {
                        outline: 2px solid yellow;
                    }
                    .search-button {
                        position: absolute;
                        right: 0%;
                        text-align: center;
                        width: calc(100% - 71.425%);
                        height: inherit;
                        color: #fff;
                        border-radius: 0px 10px 10px 0px;
                        font-family: "Lato", sans-serif;
                        font-weight: 500;
                        background: transparent;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        display: inline-block;
                        box-shadow: inset 2px 2px 2px 0px
                                rgba(255, 255, 255, 0.5),
                            7px 7px 20px 0px rgba(0, 0, 0, 0.1),
                            4px 4px 5px 0px rgba(0, 0, 0, 0.1);
                        outline: none;
                        background: rgb(6, 14, 131);
                        background: linear-gradient(
                            0deg,
                            rgba(6, 14, 131, 1) 0%,
                            rgba(12, 25, 180, 1) 100%
                        );
                        border: none;
                    }
                    .search-button:hover {
                        background: rgb(0, 3, 255);
                        background: linear-gradient(
                            0deg,
                            rgba(0, 3, 255, 1) 0%,
                            rgba(2, 126, 251, 1) 100%
                        );
                    }
                }
            }
        }
    }
}
